* {
    font-family: "Oswald", sans-serif;
}

.card {
    width: 10rem;
}

#container2 {
    width: 100vw;
    display: flex;
}

.card {
    margin-right: 50px;
}

#container {
    margin: auto;
    margin-top: 50px;
    margin-left: 400px;
    width: 400px;
}
.content .content2 {
    width: 300px;
}

#add {
    width: 330px;
    height: 30px;
    background-color: rebeccapurple;
    color: white;
    border-radius: 3%;
    border: 0;
    padding: 0;
    margin-left: 20px;
}
@media screen and (min-width: 501px) {
    #desc {
        margin: 0;
        margin-top: 5px;
        margin-left: 20px;
        padding: 0;
        width: 330px;
        height: 100px;
        text-align: center;
    }

    .satu {
        margin-left: 20px;
    }
    .content2 {
        margin-top: 10px;
        margin-left: 20px;
    }

    #tittle #genre #release #img {
        margin-right: 10px;
    }

    input {
        margin: 0;
        margin-left: 20px;
        padding: 0;
        width: 160px;
        height: 50px;
        text-align: center;
    }
}
