@media screen and (max-width: 500px) {
    #container {
        margin: 30px;
        display: flex;
        flex-direction: column;
    }
    #container2 {
        margin: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    img {
        margin: auto;
    }
    #desc {
        margin: 0;
        padding: 0;
        width: 330px;
        height: 100px;
        text-align: center;
        /* margin-left: 20px; */
    }

    #add {
        margin: 0;
    }

    .card {
        margin: 30px;
        width: 50vw;
    }

    .content2 {
        margin-top: 10px;
    }
    /* #tittle #genre #release #img { */
    input {
        margin: 0;
        /* margin-left: 20px; */
        padding: 0;
        width: 330px;
        height: 50px;
        text-align: center;
    }
}
